<section id="wrapper">
  <header>
    <div class="inner">
      <h2>Freelance Model & Actor</h2>
      <p>Philadelphia - Jersey City - NYC - Upstate NY</p>
    </div>
  </header>

  <!-- Content -->
  <div class="wrapper">
    <div class="inner">
      <h3 class="major">Experience</h3>
      <p>
        I began my career as a freelance model in NYC, where I did photoshoots
        for various stores and art directors. I quickly gained recognition for
        my versatility and professionalism, specializing in short film and a
        blend of masculine and feminine aesthetics. I am open to working with
        clients in any of the respective areas listed above.
      </p>

      <section class="features">
        <article>
          <a href="#" class="image"
            ><img src="assets/images/mna.jpg" alt=""
          /></a>
          <h3 class="major">Mono No Aware</h3>
          <p>
            A short film project that explores the beauty of impermanence and
            the fleeting nature of life. I played a lead role, bringing depth
            and emotion to the character.
          </p>
          <a href="#" class="special">See video</a>
        </article>
        <article>
          <a href="#" class="image"
            ><img src="assets/images/andro2.jpg" alt=""
          /></a>
          <h3 class="major">Androgyny</h3>
          <p>
            A project that delves into the concept of gender fluidity and the
            blending of masculine and feminine characteristics. I portrayed a
            character who embodies these themes, showcasing my range and
            adaptability.
          </p>
          <a href="#" class="special">See post</a>
        </article>
      </section>
    </div>
  </div>
</section>
